RestaurantManagement/GUI/GUI/Connected Services/ServiceReferenceRestaurant/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Table" nillable="true" type="tns:Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTable" nillable="true" type="tns:ArrayOfTable" />
  <xs:complexType name="Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingTables" nillable="true" type="tns:ArrayOfBookingTable" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TableID" type="xs:int" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Table" nillable="true" type="tns:Table" />
  <xs:complexType name="ArrayOfBookingTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingTable" nillable="true" type="tns:BookingTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingTable" nillable="true" type="tns:ArrayOfBookingTable" />
  <xs:complexType name="BookingTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiredTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Table" nillable="true" type="tns:Table" />
      <xs:element minOccurs="0" name="TableID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingTable" nillable="true" type="tns:BookingTable" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingTables" nillable="true" type="tns:ArrayOfBookingTable" />
      <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="IsFemale" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="IsPaid" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderDetails" nillable="true" type="tns:ArrayOfOrderDetail" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Table" nillable="true" type="tns:Table" />
      <xs:element minOccurs="0" name="TableID" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFemale" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetail" nillable="true" type="tns:ArrayOfOrderDetail" />
  <xs:complexType name="OrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodDrink" nillable="true" type="tns:FoodDrink" />
      <xs:element minOccurs="0" name="FoodDrinkID" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetail" nillable="true" type="tns:OrderDetail" />
  <xs:complexType name="FoodDrink">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoodDrinkID" type="xs:int" />
      <xs:element minOccurs="0" name="FoodDrinkName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFood" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderDetails" nillable="true" type="tns:ArrayOfOrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoodDrink" nillable="true" type="tns:FoodDrink" />
</xs:schema>